@model IList<Board>
@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="index-wrapper">
        <header class="index-header index-title card">Storyboarder</header>
        <div class="index-content-wrapper">

            @foreach (var board in Model)
            {
            <div class="index-content card">
                <h3 class="index-content-title">@board.Title</h3>
                <p class="index-content-description">@board.Description</p>

                <form>
                    <span>
                        <input type="hidden" asp-for="@board.Id" />
                        <input type="submit" value="View" />
                    </span>
                </form>

                <form asp-controller="Home" asp-action="EditBoard" asp-route-id="@board.Id" method="get">
                    <span>
                        <input type="submit" value="Edit" />
                    </span>
                </form>

                <form>
                    <span>
                        <input type="hidden" asp-for="@board.Id" />
                        <input type="submit" value="Delete" />
                    </span>
                </form>

            </div>
            }

        </div>

        <footer class="index-footer card">test footer</footer>
    </div>
</body>